extends layout

block content
    div(class="input-container")
        span(id="hash-sign") #
        input(type="text" id="hash-input")
    div(id="tweet")
        p(class="tweet-text")
        div(class="tweet-images")