doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700,800" rel="stylesheet")

    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="/javascripts/vendor/jquery-3.2.1.min.js")
    script(type='text/javascript', src="/javascripts/f_index.js")

  body
    block content
