if tweet != undefined 
    -var text = tweet.text
    -var textParts = tweet.text.split(' ')
    -var entities = tweet.entities
    -var parts = []
    -var urlRegex = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;


    each part in textParts
        -var wasFound = false
        each url in entities.urls
            if url.url == part
                -wasFound = true
                -parts.push({isUrl: 1, url:url.url, content: url.display_url})
        if !wasFound && !part.match(urlRegex)
            -parts.push({isUrl: 0, content: part})

    div(id="tweet-content")
        p(id="name") @#{tweet.user.name}
        p(id="screen-name") #{tweet.user.screen_name}
        p(id="tweet-text")
            each onePart in parts
                if onePart.isUrl == 0
                    | #{onePart.content} 
                else 
                    a(targer='_blank' href=onePart.url) #{onePart.content}  
  
        if entities.media !== undefined && entities.media.length > 0
            each media in entities.media
                img(src=media.media_url)
 
else 
    p(class="err-tweets") No Tweets for a given hashtag!

