body {
    font-family: "Lato";
    padding: 50px;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0px;
}

.input-container {
    margin-top: 50px;
    text-align: center;
}

#hash-input, #hash-sign {
    color: #8a8a8a;
    font-size: 36px;
}

#hash-input {
    border: none;
    border-bottom: 1px solid #DADADA;
    margin-left: auto;
    margin-right: auto;
}

#hash-input:focus {
    outline: none !important;
}

#hash-sign {
    margin-right: 5px;
}

#tweet-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}

#tweet #name {
    color: #3498db;
    font-size: 14px;
}

#tweet #screen-name {
    color: #242424;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

#tweet #tweet-text {
    font-size: 36px;
    color: #6b6b6b;
    margin-bottom: 20px;
}

#tweet #tweet-text a {
    color: #3498db;
}

#tweet img {
    max-width: 300px;
    margin-left: 80px;
}

.err-tweets {
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    color: #3498db;
}